<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JustFacts WatchOS (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JustFacts WatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JustStudio iMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>JustStudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33AE23361DC1089800A9B22A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FC744A1D8C2E3E00683CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883D70001C0DAE22003ECEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883D70181C0DAE22003ECEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883D70231C0DAE22003ECEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
